<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加英雄</title>
</head>
<body>
    <div class="container">
        <form action="" method="post">
            英雄名字：<input type="text" name="heroname" placeholder="输入角色名">
            <br>
            英雄技能：<input type="text" name="herocontent" placeholder="输入绝招">
            <br>
            性别：<input type="radio" name="sex" value="female" checked>女 <input type="radio" name="sex" value="male" checked>男
            <br>

            <button>添加英雄</button>
        </form>
    </div>
</body>
</html>